h1{
    color: aquamarine;
    background-color: rgba(127, 255, 212, 0.441);
}
div{
    background-color: blueviolet;
    color: azure;
}
p{
    color: rgb(142, 82, 9);
    background-color: rgba(17, 58, 147, 0.349);
}