#firstdiv {
    background-color: rgb(41, 163, 67);
}

#seconddiv {
    color: blueviolet;

}

.red {
    background-color: aqua;
}

.green {
    background-color: brown;
}

.blue {
    background-color: aquamarine;
}