.container {
    width: 80vw;
    height: 80vh;
    background-color: aquamarine;
}

.box {
    height: 30vh;
    width: 10vw;
    background-color: rgb(29, 123, 123);
    animation: ZaidKaAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-incubic-bezier(0.04, 1.35, 0.22, -0.45)-out;
    animation-delay: 1s;
}

@keyframes ZaidKaAnimation {
    from {
        transform: translateX(80vw);

    }

    to {

        transform: translateY(120px);

    }

}

.box1 {
    height: 30vh;
    width: 10vw;
    background-color: rgb(186, 78, 35);
    animation: ZaidKaDoosraAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.27, 1.36, 0.42, 0.01);
    animation-delay: 1s;

}

@keyframes ZaidKaDoosraAnimation {

    from {}

    to {
        transform: translateX(80vw);
    }

}