.container {
    width: 80vw;
    height: 80vh;
    background-color: aquamarine;
}

.box {
    height: 30vh;
    width: 10vw;
    /* background-color: rgb(29, 123, 123); */
    animation: ZaidKaAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-incubic-bezier(0.04, 1.35, 0.22, -0.45)-out;
    animation-delay: 1s;
    animation-direction: alternate-reverse;
}

@keyframes ZaidKaAnimation {
    from {
        background-color: blanchedalmond;
        transform: translateX(80vw);


    }

    to {
        background-color: blueviolet;
        transform: translateY(120px);

    }

}

.box1 {
    height: 30vh;
    width: 10vw;

    animation: ZaidKaDoosraAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.27, 1.36, 0.42, 0.01);
    animation-delay: 2s;
    animation-direction: alternate-reverse;

}

@keyframes ZaidKaDoosraAnimation {

    from {
        background-color: rgb(186, 78, 35);
    }

    to {
        background-color: rgb(72, 11, 11);
        transform: translateX(80vw);
    }

}

.box2 {
    height: 30vh;
    width: 10vw;

    animation: ZaidKaTeesraAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.9, -0.44, 0, 1.17);
    animation-delay: 3s;
    animation-direction: alternate-reverse;
}

@keyframes ZaidKaTeesraAnimation {

    from {
        background-color: rgb(85, 24, 139);
        transform: translateX(80vw);
    }

    to {
        background-color: rgb(31, 102, 65);
    }

}