.container {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 120px 100px;
    grid-template-rows: 100px 100px 100px;
}

.item {
    border: 2px solid purple;
    height: 32px;
    width: 32px;
}

.item-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.item-4 {
    grid-column: 1/2;
    grid-row: 1/2;
}