.navbar {
    height: 60px;
    width: 98vw;
    background-color: rgba(173, 170, 170, 0.429);
    display: flex;
    align-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid rgba(138, 136, 136, 0.429);
    border-radius: 4px;
    /* padding:4px; */
    margin-bottom: 40px;
}

.items-1 {
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

.items-2 {

    margin-left: auto;

}

.downloaded {

    background: #ffd43b;
    color: #000;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: bold;


}

/* a {
    text-decoration: none;
    color: inherit;
} */
.container {
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(2fr, 1fr);
    grid-template-areas: "Eng German"
        "Italian Spanish"
        "French Brazilian"
        "Japanese Korean"
        "Chinese Urdu";
    gap: 40px;



}

.item {
    border-radius: 10px;
    height: 150px;
    width: auto;
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: rgb(225, 220, 220);
}

.item-1 {
    grid-area: Eng;

}

.item-2 {
    grid-area: German;

}

.item-3 {
    grid-area: Italian;

}

.item-4 {
    grid-area: Spanish;

}

.item-5 {
    grid-area: French;

}

.item-6 {
    grid-area: Brazilian;

}

.item-7 {
    grid-area: Japanese;

}

.item-8 {
    grid-area: Korean;

}

.item-9 {
    grid-area: Chinese;

}

.item-10 {
    grid-area: Urdu;

}

.item a {
    text-decoration: none;
    color: inherit;

    background: #ffd43b;
    color: #000;
    padding: 1px 10px;
    border-radius: 6px;
    font-weight: bold;
}

.items a {
    text-decoration: none;
    color: inherit;
}