.container {
    height: 80vh;
    width: 80vw;
    background-color: blue;
    position: relative;
}

.box {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: AnimateX 2s linear infinite, AnimateY 1s ease-out infinite alternate;
}

@keyframes AnimateX {
    from {
        left: 0%;
    }

    to {
        left: calc(100% - 100px);
    }
}

@keyframes AnimateY {
    0% {
        top: 0;
    }

    50% {
        top: calc(100% - 100px);
    }

    100% {
        top: 0;
    }
}