.container {
    height: 80vh;
    width: 50vw;
    border: 2px solid black;
    background-color: azure;
}

img {

    width: 50vw;
    height: 80vh;
    object-fit: cover;
    object-position: top right;
}