.container {
    border: 2px solid red;
    display: flex;
    height: 80vh;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    align-content: center;
    /* there is no justify-items in flexbox; */
    gap: 30px;
}

.item {
    height: 32px;
    width: 32px;
    /* margin: 12px; */
    border: 2px solid black;
    background-color: blueviolet;
    /* flex-grow: 1; */
}

.item-1 {
    flex-shrink: 2;
    align-self: flex-end;
}