.container {
    background-color: aqua;
    height: 80vh;
    width: 80vw;
}

.box {
    background-color: bisque;
    height: 100px;
    width: 100px;
    transition: all 3s ease-in-out 1s;
}

.translate {
    transform: translateX(10vh) translateY(10vw) scale(2);
    background-color: rgb(39, 50, 50);

}