.container {
    height: 60px;
    width: 98vw;
    background-color: rgba(173, 170, 170, 0.429);
    display: flex;
    align-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid rgba(138, 136, 136, 0.429);
    border-radius: 4px;
    /* padding:4px; */
}

.item-1 {
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

.item-2 {

    margin-left: auto;

}

.downloaded {

    background: #ffd43b;
    color: #000;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: bold;


}

a {
    text-decoration: none;
    color: inherit;
}